.about {
  position: relative;
  z-index: 7;
  overflow: hidden;

  color: #ffffff;
  background-color: @medium-blue;

  border-bottom-right-radius: @border-radius-30;
  border-bottom-left-radius: @border-radius-30;


  &::before {
    .decorative-block;
    left: calc(50% - 154px);
  }

  &::after {
    position: absolute;
    top: 0;
    z-index: -1;

    display: block;
    width: 100%;
    min-height: 351px;
    content: "";

    background-image:  url("../img/about-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: calc(50% + 10px) top;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/about-mobile@2x.png");
    }
  }
}

.about__wrapper {
  position: relative;

  min-height: 351px;
  padding-top: 32px;
  padding-bottom: 50px;
}

.about__text-tablet-br {
  display: none;
}

.about__button {
  display: none;
}


@media (min-width: @tablet-width) {
  .about {
    padding-top: 88px;

    border-bottom-right-radius: @border-radius-50;
    border-bottom-left-radius: @border-radius-50;

    &::before {
      .decorative-block;
      top: 60px;
      left: calc(50% - 344px);
      width: 688px;
      height: 213px;

      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }

    &::after {
      top: 140px;
      left: calc(50% - 190px);

      min-height: 548px;

      background-image:  url("../img/about-tablet@1x.png");
      background-position: center center;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../img/about-tablet@2x.png");
      }
    }
  }

  .about__wrapper {
    min-height: 682px;
    padding-top: 40px;
    padding-right: 385px;
    padding-left: 34px;
  }

  .about-heading {
    margin-bottom: 40px;
  }

  .about__text {
    width: 300px;
    margin-bottom: 31px;

    &--bold {
      margin-bottom: 51px;
    }
  }

  .about__text-mobile-br {
    display: none;
  }

  .about__text-tablet-br {
    display: block;
  }

  .about__button {
    display: block;
    width: 274px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    margin-top: -80px;
    padding-top: 70px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .about__wrapper {
    min-height: 760px;
    padding-top: 140px;
    padding-right: 690px;

    background: transparent url("../img/about-desktop@1x.png") right 60px top 95px no-repeat;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }

    &::before {
      .decorative-block;
      top: 80px;
      left: 0;
      width: 213px;
      height: 213px;

      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
  }

  .about-heading {
    margin-bottom: 60px;
  }

  .about__text {
    width: 620px;
    margin-bottom: 37px;

    &--bold {
      width: 415px;
      margin-bottom: 85px;
    }
  }

  .about__text-tablet-br {
    display: none;
  }
}
