.about {
  color: #ffffff;

  background-color: @medium-blue;
  opacity: 0.99;
}

.about__wrapper {
  position: relative;

  min-height: 350px;
  padding-top: 30px;
  padding-bottom: 50px;

  background: transparent url("../img/about-mobile@1x.png") 15px 0 no-repeat;

  &::before {
    .decorative-block;
  }
}
