.business-rates-modal {
  box-sizing: border-box;
  min-height: 445px;
  padding-top: 35px;

  background-color: #ffffff;
  border-radius: @border-radius-15;
}

.business-rates-modal__heading {
  text-align: center;
}

.business-rates-modal__list {
  .list-clear;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-right: 25px;
  padding-left: 25px;
}

.business-rates-modal__item {
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 300;
  color: @grey;

  border-top: 1px solid rgba(0, 0, 0, 0.05);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.business-rates-modal__button-close {
  display: block;
  height: 60px;
  width: 100%;
  margin: 0 auto;

  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: @button-text-color;

  background-color: #f3f4f8;
  border: none;
  border-bottom-right-radius: @border-radius-15;
  border-bottom-left-radius: @border-radius-15;
}
