.continens-list {
  .list-clear;
  display: block;
  margin-top: 8px;
  margin-bottom: 19px;
}

.continens-list__item {
  margin-bottom: 3px;
}

.continens-list__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: @medium-blue;

  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &--selected {
    opacity: 1;
  }
}

@media (min-width: @tablet-width) {
  .continens-list {
    display: flex;
    width: 400px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
  }

  .continens-list__item {
    margin-right: 25px;
  }

  .continens-list__link {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .continens-list {
    position: absolute;
    top: -25px;

    width: 390px;
    padding-right: 240px;
    margin-left: 310px;
    margin-bottom: 48px;
  }
}
