.contact {
  color: #ffffff;

  background-color: @medium-blue;
}

.contact__wrapper {
  min-height: 505px;
  padding-top: 70px;
  padding-bottom: 30px;
}

.contact__heading {
  display: block;
  margin-bottom: 20px;
}

.contact__text {
  margin-bottom: 25px;

  text-align: center;
}

.contact__login {
  color: @yellow;
}

.contact__form {
  margin-bottom: 30px;
}

.contact__list {
  .list-clear;
}
