.continens-list {
  .list-clear;
  margin-top: 40px;
  margin-bottom: 10px;
}

.continens-list__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: @medium-blue;

  opacity: 0.3;

  &--selected {
    opacity: 1;
  }
}
