.contact {
  color: #ffffff;

  background-color: @medium-blue;
}

.contact__wrapper {
  min-height: 505px;
  padding-top: 70px;
  padding-bottom: 30px;
}

.contact__heading {
  display: block;
  margin-bottom: 20px;

  text-align: center;
}

.contact__text {
  width: 220px;
  margin: 0 auto;
  text-align: center;
}

.contact__text-inner {
  display: block;
}

.contact__login {
  color: @yellow;
}

.contact__form {
  margin-top: 25px;
  margin-bottom: 30px;
}

.contact__list {
  .list-clear;
}

@media (min-width: @tablet-width) {
  .contact__wrapper {
    padding-right: 75px;
    padding-left: 75px;
  }

  .contact__text {
    width: auto;
  }

  .contact__text-inner {
    display: inline;
  }
}

@media (min-width: @desktop-width) {
  .contact__wrapper {
    padding-right: 130px;
    padding-left: 130px;
  }
}
