.countries-dropdown-list {
  .list-clear;
  margin-bottom: 17px;
  padding-left: 20px;
}

.countries-dropdown-list__link {
  color: @grey;
  text-decoration: none;

  &:hover {
    color: @button-text-color;
  }

  &:active {
    color: @button-text-color-active;
  }
}

@media (min-width: @tablet-width) {
  .countries-dropdown-list {
    width: 180px;
  }

  .countries-dropdown-list__link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .countries-dropdown-list {
    width: 215px;
  }
}
