.countries-select__list {
  .list-clear;
}

.countries-select__group {
  box-sizing: border-box;
  width: 170px;
  height: 42px;
  margin-bottom: 20px;
  padding-left: 10px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @travelmate-page-blue;
  text-transform: uppercase;

  border: 1px solid #cbced9;
  border-radius: 5px;
}

.countries-select__group--notselected {
  width: 100%;
}

.countries-select__button-add {
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  margin-bottom: 25px;
  padding-left: 10px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @button-text-color;
  text-transform: uppercase;
  text-align: left;

  border: none;
  background-color: @light-blue;

  &:active {
    color: @button-text-color-active;
  }
}
