.countries-filter {
  background-color: #e2e5f2;
}

.countries-filter__wrapper {
  padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 30px;
  padding-left: 50px;
}

.countries-filter__heading {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: @medium-blue;
}

.countries-filter__button-minimize {
  width: 270px;
  margin-left: -25px;
  padding-top: 7px;
  padding-bottom: 4px;

  font-size: 16.7px;
  line-height: 29.5px;
  font-weight: 700;
  text-transform: uppercase;
  color: @dark-blue;

  border: none;
  background-color: #d6daed;
}
