.countries-filter-list {
  .list-clear;
  margin-bottom: 40px;
}

.countries-filter-list__link {
  color: @grey;
  text-decoration: none;

  &:hover {
    color: @button-text-color;
  }

  &:active {
    color: @button-text-color-active;
  }
}
