.countries-dropdown__heading {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 15px;


  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;

  background-color: @travelmate-page-blue;
}
