.destinations {
  background-color: @light-blue;
}

.destinations__heading {
  margin: 0;
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @travelmate-page-blue;
}

.destinations__button {
  box-sizing: border-box;
  display: block;
  width: 230px;
  min-height: 40px;
  margin: 0;
  margin-bottom: 2px;
  margin-left: -5px;
  padding: 0;

  font-size: 17px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: @dark-blue;

  border: none;
  border-radius: @border-radius-30;
  background-color: @yellow;

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    color: @button-text-color-active;

    background-color: #ffbd30;
  }
}

.destinations__button-step-back {
  display: block;
  margin-top: 12px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @dark-blue;


  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .destinations__heading {
    margin-bottom: 0;

    font-size: 36px;
    line-height: 50px;
  }

  .destinations__button {
    width: 285px;
    min-height: 81px;
    margin-left: 1px;
    padding-right: 70px;
    padding-left: 33px;

    font-size: 24px;
    line-height: 81px;
    text-align: left;
    text-transform: none;
    color: @travelmate-page-blue;

    border-radius: @border-radius-17;
    background-image: url("../img/triangle-arrow-right.svg");
    background-repeat: no-repeat;
    background-size: 10px 14px;
    background-position: right 38px center;

    &:active {
      background-image: url("../img/triangle-arrow-right-opacity.svg");
    }
  }

  .destinations__button-step-back {
    min-height: 81px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    padding-left: 31px;

    font-size: 24px;
    line-height: 81px;
    text-transform: none;
    vertical-align: middle;
    color: @travelmate-page-blue;

    background-color: transparent;
    background-image: url("../img/triangle-arrow-left.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 10px 14px;
  }
}

@media (min-width: @desktop-width) {
  .destinations {
    position: relative;
  }

  .destinations__heading {
    text-indent: 7px;
  }

  .destinations__button {
    width: 285px;
    padding-left: 33px;
    order: 0;
  }

  .destinations__button-step-back {
    margin-right: 2px;
    padding-left: 33px;
  }
}
