.dropdown-table-abc {
  width: 100%;
  margin-bottom: 50px;

  border-collapse: collapse;
}

.dropdown-table-abc__letter {
  width: 39px;
  height: 38px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @travelmate-page-blue;
  text-align: center;
  vertical-align: middle;

  border: 1px solid #cbced9;
  background-color: #ffffff;

  &--selected {
    background-color: @light-blue;
  }
}

@media (min-width: @tablet-width) {
  .dropdown-table-abc {
    width: auto;
  }

  .dropdown-table-abc__letter {
    width: 52px;
    height: 70px;

    &--selected {
      color: #ffffff;

      background-color: @button-text-color;
    }
  }
}

@media (min-width: @desktop-width) {
  .dropdown-table-abc {
    margin-top: -15px;

    border-collapse: separate;
    border-spacing: 15px;
  }

  .dropdown-table-abc__letter {
    width: 60px;
    height: 70px;

    border-radius: 5px;
  }
}
