.filter-group {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  padding-bottom: 15px;

  border: none;
}

.filter-group__heading {
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: @travelmate-page-blue;
}

.filter-group__list {
  .list-clear;
  display: flex;
  flex-wrap: wrap;

  &--mobile-collapsed {
    display: none;
  }
}

@media (min-width: @tablet-width) {
  .filter-group {
    display: flex;
  }

  .filter-group__list {
    display: flex;
  }
}
