.inner-page {
  background-color: @dark-blue;
  border-bottom-right-radius: @border-radius-30;
  border-bottom-left-radius: @border-radius-30;
}

.inner-page__wrapper {
  padding-top: 17px;
  padding-bottom: 10px;
}

.inner-page__heading {
  order: 2;
  margin: 0;
  margin-top: 52px;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .inner-page__wrapper {
    padding-top: 40px;
    padding-bottom: 63px;
  }

  .inner-page__heading {
    position: relative;
    margin-top: 128px;
    margin-left: 34px;

    font-size: 60px;
    line-height: 70px;

    &::after {
      margin-top: 58px;
      margin-bottom: -66px;
      display: block;
      content: "";
      height: 8px;

      background-color: #ff8d30;
      border-radius: 4px;
    }
  }
}

@media (min-width: @desktop-width) {
  .inner-page__wrapper {
    padding-top: 45px;
  }

  .inner-page__heading {
    margin-top: 116px;
    margin-left: 67px;

    font-size: 60px;
    line-height: 70px;
  }
}
