.inner-page {
  position: relative;

  background-color: @dark-blue;
  border-bottom-right-radius: @border-radius-30;
  border-bottom-left-radius: @border-radius-30;
}

.inner-page__heading {
  margin: 0;
  margin-top: 52px;
  margin-bottom: 11px;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}

.inner-page__top-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 17px;
}

@media (min-width: @tablet-width) {
  .inner-page__top-menu {
    padding-top: 43px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .inner-page__heading {
    margin-top: 129px;
    margin-bottom: 20px;
    margin-left: 35px;

    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: @desktop-width) {
  .inner-page__top-menu {
    padding: 0;
  }

  .inner-page__heading {
    position: absolute;
    left: 91px;
    bottom: 41px;

    font-size: 60px;
    line-height: 70px;
  }
}
