.instructions {
  min-height: 330px;
  padding-top: 5px;
  padding-right: 25px;
  padding-bottom: 35px;
  padding-left: 25px;
  background: linear-gradient(to bottom, @dark-blue 0, @dark-blue 80px, @medium-blue 80px, @medium-blue 100%);
}

.instructions__list {
  .list-clear;
  counter-reset: instuctionCounter;
}

.instructions__item {
  display: block;
  box-sizing: border-box;
  min-height: 80px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 25px;
  padding-bottom: 20px;

  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: @dark-blue;

  &::after {
    counter-increment: instuctionCounter;
    content: counter(instuctionCounter);
    color: white;
  }

  &--first {
    background-color: #ff8d30;
  }

  &--second {
    background-color: #ffa530;
  }

  &--third {
    background-color: #ffbd30;
  }

  &--fourth {
    background-color: #ffd74b;
  }
}

@media (min-width: @tablet-width) {
  .instructions {
    min-height: 280px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;

    background: transparent;
  }

  .instructions__list {
    display: flex;
    flex-wrap: wrap;
  }

  .instructions__item {
    box-sizing: border-box;
    width: 344px;
  }
}

@media (min-width: @desktop-width) {
  .instructions {
    min-height: 110px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .instructions__item {
    width: 330px;
  }
}
