.intro-contacts {
  display: flex;
}

.intro-contacts__link {
  display: block;
  width: 40px;
  height: 40px;

  font-size: 0;
  line-height: 0;

  border-radius: 50%;

  &--phone {
    background-color: #ff8d30;
    background-image: url("../img/topmenu-phone.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px;

    &:hover {
      background-color: #f26926;
    }

    &:active {
      background-color: #f26926;
      background-image: url("../img/topmenu-phone-opacity.svg");
    }
  }

  &--email {
    background-color: #ffbd30;
    background-image: url("../img/topmenu-mail.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 18px 14px;

    &:hover {
      background-color: #ff8d30;
    }

    &:active {
      background-color: #ff8d30;
      background-image: url("../img/topmenu-mail-opacity.svg");
    }
  }
}

.intro-contacts__login {
  box-sizing: border-box;
  display: block;
  width: 189px;
  height: 40px;
  padding-top: 7px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(22, 28, 53, 1);

  background-color: #ffd74b;
  border-radius: 30px;

  &:hover {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .intro-contacts {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .intro-contacts__login {
    font-size: 20px;
  }
}
