.intro {
  position: relative;
  z-index: 8;


  background-color: @dark-blue;
  background-image: url("../img/globe-back-mobile@1x.jpg");

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }

  background-repeat: no-repeat;
  background-size: 320px 569px;
  background-position: left 50% top -74px;
}

.intro__wrapper {
  min-height: 690px;
  padding: 0;
  padding-top: 20px;

  background-color: transparent;
  background-image: url("../img/traveller-illustration-mobile@1x.png");

  @media (min-resolution: @retina-dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png");
  }

  background-repeat: no-repeat;
  background-size: 192px 255px;
  background-position: calc(50% + 15px) 150px;
}

.intro__slogan {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 225px;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.intro__list {
  .list-clear;
  position: relative;
  width: 270px;
  margin: 0 auto;
  bottom: -20px;
}

@media (min-width: 321px) {
  .intro {
    background-image: url("../img/globe-back-mobile@2x.jpg");
    background-size: 100% 569px;
    background-position: left 50% top -74px;
  }
}

@media (min-width: @tablet-width) {
  .intro {
    position: relative;

    background-color: #182044;
    background-image: url("../img/globe-back-tablet@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }

    background-size: 1479px 612px;
    background-position: left 50% top 250px;
  }

  .intro__wrapper {
    padding-top: 27px;

    background-image: url("../img/traveller-illustration-tablet@1x.png");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/traveller-illustration-tablet@2x.png");
    }

    background-size: 372px 451px;
    background-position: right calc(50% - 85px)  top 272px;
  }

  .intro__slogan {
    width: 400px;
    margin-bottom: 87px;

    font-size: 60px;
    line-height: 70px;
  }

  .intro__list {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    padding-top: 0;

    background-color: @dark-blue;
    background-image: url("../img/globe-back-desktop@1x.jpg");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }

    background-size: 1800px 750px;
    background-position: left 50% top -114px;

    border-bottom-right-radius: @border-radius-50;
    border-bottom-left-radius: @border-radius-50;
  }

  .intro__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    min-height: 634px;
    padding-top: 93px;

    background-image: url("../img/traveller-illustration-desktop@1x.png");

    @media (min-resolution: @retina-dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png");
    }

    background-size: 431px 640px;
    background-position: right calc(50% - 100px)  top -6px;
  }

  .intro__slogan {
    margin: 0;
    padding-left: 129px;

    text-align: left;
  }

  .intro__list {
    display: none;
  }
}
