.intro {
  background-color: @dark-blue;
}

.intro__wrapper {
  min-height: 405px;
  padding-top: 20px;

  background: url("../img/traveller-illustration-mobile@1x.png") 50% bottom no-repeat,
    url("../img/globe-back-mobile@1x.jpg") left 0 bottom -90px no-repeat;
}

.intro__slogan {
  margin: 0;

  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}

.intro__list {
  .list-clear;
}
