.main-nav {
  background-color: #ffffff;
  padding-top: 45px;
}

.site-list__item a {
  .font(@fontRegular; 30px; 550);
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  color: @medium-blue;
}

.user-list__login {
  .font(@fontRegular; 17px; bold);
  line-height: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: @dark-blue;
  background-color: #ffd74b; /*временно, для видимости текста*/
}

.contacts-list__link {
  .font-bold();
  text-decoration: none;
  text-transform: uppercase;
  color: @medium-blue;
}
