.page-main__heading {
  margin-top: 0;
  margin-right: 25px;
  margin-bottom: 20px;
  margin-left: 25px;

  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: @heading-orange;
}

.page-main__text {
  margin-top: 0;
  margin-right: 25px;
  margin-bottom: 15px;
  margin-left: 25px;

  font-weight: 300;

  &--bold {
    margin-bottom: 20px;

    font-weight: 700;
  }
}
