.page-header {
  background-color: #ffffff;
}

.page-header__wrapper {
  .wrapper();
  min-height: 570px;
  padding-top: 25px;
  padding-bottom: 40px;
}

.inner-page__header {
  .font(@fontRegular; 36px; bold);
  line-height: 40px;
  color: #ffffff;
  background-color: @dark-blue;
}

.main-nav__list {
  .list-clear();
}
