.page-footer {
  position: relative;
  z-index: 100;
  margin-top: -50px;

  background-color: #ffffff;
  border-top-right-radius: @border-radius-30;
  border-top-left-radius: @border-radius-30;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 205px;
  padding-top: 36px;
}

.page-footer__copyrytes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;

  color: @grey;
  text-decoration: none;

  border-top: 1px solid #f2f2f2;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__logo {
  text-align: center;
}

.page-footer__copyrytes-image {
  width: 27px;
  height: 34px;

  fill: @medium-blue;
}

@media (min-width: @tablet-width) {
  .page-footer {
    border-top-right-radius: @border-radius-50;
    border-top-left-radius: @border-radius-50;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    min-height: 150px;
    padding-top: 58px;
  }

  .page-footer__logo {
    width: 164px;
    height: 42px;
  }

  .page-footer__copyrytes {
    width: 155px;
    padding-top: 6px;
    padding-left: 9px;

    border: none;
  }

  .page-footer__copyrytes-text {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    align-items: flex-start;
    min-height: 150px;
    padding-top: 46px;
  }

  .page-footer__logo {
    width: 198px;
    height: 62px;
  }

  .page-footer__copyrytes {
    width: 154px;
    padding-top: 14px;
    padding-left: 42px;
  }
}
