.page-main__wrapper {
  .wrapper();
}

.page-main__heading {
  .heading-orange();
}

.page-main__text,
.page-main__text--bold {
  .font-light();
  margin-top: 0;
  margin-right: 25px;
  margin-bottom: 20px;
  margin-left: 25px;
}

.page-main__text--bold {
  .font-bold();
}

.button {
  .font(@fontRegular; 18px; bold);
  line-height: 18px;
  color: @button-text-color;
  text-decoration: none;
  background-color: #ffd74b;
}
