.page-travelmates {
  position: relative;

  margin-top: 53px;
  padding-top: 22px;
  padding-bottom: 97px;

  background-color: @light-blue;

  &--filter-opened {
    z-index: -1;
  }
}

.page-travelmates__list {
  .list-clear;
  margin-top: 30px;
  margin-bottom: 20px;
}

.page-travelmates__button-more {
  display: block;
  margin-bottom: 20px;
  padding-left: 30px;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: @travelmate-page-blue;
  text-decoration: none;
  text-transform: uppercase;

  background: transparent url("../img/qty-plus.svg") 60px 5px no-repeat;
  background-size: 18px 18px;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-travelmates {
    margin-top: 151px;
    padding-top: 30px;
    padding-bottom: 112px;
  }

  .page-travelmates__list {
    margin-top: 40px;
    margin-bottom: 48px;
  }

  .page-travelmates__item {
    margin-top: 40px;
  }

  .page-travelmates__button-more {
    margin-bottom: 47px;
    padding-left: 42px;

    font-size: 20px;
    line-height: 30px;

    background-size: 27px 27px;
    background-position: 247px -2px;
  }
}

@media (min-width: @desktop-width) {
  .page-travelmates {
    margin-top: 0;
    padding-bottom: 129px;
  }

  .page-travelmates__wrapper {
    position: relative;

    padding-right: 430px;
    padding-left: 60px;
  }

  .page-travelmates__list {
    margin-top: 0;
    margin-bottom: 66px;
  }

  .page-travelmates__item {
    margin-top: 30px;

    &:first-child {
      margin-top: 0;
    }
  }

  .page-travelmates__button-more {
    margin-bottom: 67px;
    padding-left: 396px;

    text-align: left;

    background-position: 345px -2px;
  }
}
