.plans-editor {
  background-color: #d4d9eb;
}

.plans-editor__wrapper {
  padding-top: 30px;
}

.plans-editor__steps {
  margin-bottom: 10px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;

  background-color: #ffffff;
}

.plans-editor__heading {
  margin: 0;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @travelmate-page-blue;
}

.plans-editor__step-number {
  display: block;
}

.plans-editor__description {
  color: @grey;
}
