.plans-editor {
  margin-top: -40px;
  padding-bottom: 85px;
  background-color: #d4d9eb;

  border-radius: @border-radius-30;
}

.plans-editor__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}

.plans-editor__break {
  display: none;
}

.plans-editor__steps-list {
  .list-clear();
  display: flex;
  align-items: center;
  height: 24px;
  margin-right: 20px;
  margin-left: auto;
}

.plans-editor__indicator {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
}

.plans-editor__indicator-link {
  display: block;
  width: 5px;
  height: 5px;

  font-size: 0;
  line-height: 0;
  text-decoration: none;


  background-color: @button-text-color;
  border-radius: 50%;
  opacity: 0.3;

  &--current {
    opacity: 1;
  }

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.15;
  }
}

.plans-editor__steps {
  position: relative;
  box-sizing: border-box;
  width: 270px;
  margin-bottom: 10px;
  padding-top: 24px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;

  background-color: #ffffff;
  border-radius: @border-radius-10;
}

.plans-editor__heading {
  margin: 0;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: @travelmate-page-blue;
}

.plans-editor__step-number {
  display: block;
}

.plans-editor__description {
  margin: 0;
  margin-top: 13px;
  padding: 0;

  color: @grey;
}

@media (min-width: @tablet-width) {
  .plans-editor {
    padding-bottom: 102px;
  }

  .plans-editor__wrapper {
    padding-top: 48px;
  }

  .plans-editor__steps {
    width: 618px;
    padding-top: 48px;
    padding-right: 44px;
    padding-left: 44px;

    border-radius: @border-radius-30;
  }

  .plans-editor__heading {
    font-size: 36px;
    line-height: 36px;
  }

  .plans-editor__steps-list {
    height: 42px;
    margin-right: 0;
  }

  .plans-editor__indicator {
    margin-right: 29px;
  }

  .plans-editor__description {
    width: 500px;
    margin-top: 33px;

    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .plans-editor__wrapper {
    display: block;
    padding-left: 60px;
  }

  .plans-editor__steps {
    width: 100%;
    padding-right: 160px;
    padding-left: 160px;

    border-radius: @border-radius-50;
  }

  .plans-editor__steps-list {
    display: none;
  }

  .plans-editor__break {
    display: block;
  }

  .plans-editor__header {
    text-indent: 70px;
  }

  .plans-editor__heading {
    width: 100%;
  }

  .plans-editor__step-number {
    display: inline;
    margin-right: -3px;
  }

  .plans-editor__description {
    width: 580px;
  }
}
