.plans-current {
  background-color: #dfe3f0;
}

.plans-current__wrapper {
  padding-top: 30px;
}

.plans-current__list {
  .list-clear;
}

.plans-current__item {
  margin-bottom: 10px;
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;

  border-radius: @border-radius-10;
  background-color: #ffffff;
}

.plans-current__heading {
  margin: 0;
  margin-bottom: 15px;

  font-size: 16px;
  line-height: 16px;
  color: @travelmate-page-blue;
}

.plans-current__info {
  display: flex;
  flex-direction: column;

  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: @travelmate-page-blue;
  text-transform: uppercase;
}

.plans-current__button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;

  opacity: 0.3;
}

@media (min-width: @tablet-width) {
  .plans-current__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .plans-current__heading {
    width: 100%;
  }

  .plans-current__info {
    flex-direction: row;
    justify-content: space-between;
    width: 360px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .plans-current__heading {
    width: 525px;
    margin-right: 60px;
  }

  .plans-current__info {
    justify-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .plans-current__travellers {
    width: 170px;
    padding-right: 10px;
  }
}
