.rates {
  background-color: @light-blue;
}

.rates__wrapper {
  min-height: 450px;
  padding-top: 50px;
}

.rates__heading {
  display: block;
  width: 105px;
  margin-bottom: 40px;
  padding: 0;
}

.rates__list {
  .list-clear;
  margin-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
}

.rates__item {
  padding-top: 10px;
  padding-bottom: 10px;

  font-weight: 200;
  color: #444444;

  border-top: 1px solid rgba(0, 0, 0, 0.05);

  &:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.rates__button {
  margin-left: 25px;

  line-height: 16px;
  font-weight: 700;
  color: @dark-blue;
  text-decoration: none;
}
