.reviews {
  color: #ffffff;
  background-color: @dark-blue;
}

.reviews__wrapper {
  .wrapper();
  min-height: 200px;
  padding-top: 35px;
  padding-bottom: 10px;
}

.reviews__item {
  margin: 0;
}

.reviews__author {
  display: block;
}

.reviews__author-name,
.reviews__author-profession {
  display: block;
}
