.reviews {
  min-height: 145px;
  padding-top: 46px;
  padding-bottom: 10px;

  color: #ffffff;

  background-color: @dark-blue;
}

.reviews__item {
  width: 205px;
  margin: 0;
  padding: 0;
  padding-right: 25px;
  padding-left: 25px;
}

.reviews__author {
  display: block;

  font-style: normal;
}

.reviews__author-name,
.reviews__author-profession {
  display: block;
}

@media (min-width: @tablet-width) {
  .reviews {
    min-height: 387px;
    padding-top: 0;

    background-color: transparent;
  }

  .reviews__item {
    width: 265px;
    padding-left: 75px;
    padding-right: 75px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    min-height: 200px;
    margin-bottom: 64px;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
  }

  .reviews__item {
    width: 265px;
    padding: 0;
  }
}
