.social-list-footer {
  .list-clear;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 37px;
}

.social-list-footer__item {
  width: 45px;
  height: 45px;

  border-radius: 50%;
  background-color: #ffd74b;

  &:hover {
    background-color: #ffbd30;
  }
}

.social-list-footer__link {
  display: block;
  width: 45px;
  height: 45px;

  font-size: 0;
  line-height: 0;

  background-position: 50%;
  background-repeat: no-repeat;

  &--fb {
    background-image: url("../img/facebook-mobile@1x.svg");
    background-size: 11px 21px;
  }

  &--vk {
    background-image: url("../img/vk-mobile@1x.svg");
    background-size: 23px 12px;
  }

  &--inst {
    background-image: url("../img/instagram-mobile@1x.svg");
    background-size: 18px 18px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social-list-footer {
    justify-content: flex-start;
    margin: 0;
    margin-top: -8px;
  }

  .social-list-footer__item {
    width: 60px;
    height: 60px;
  }

  .social-list-footer__link {
    width: 60px;
    height: 60px;

    &--fb {
      background-size: 14px 28px;
    }

    &--vk {
      background-size: 31px 16px;
    }

    &--inst {
      background-size: 24px 24px;
    }
  }
}

@media (min-width: @desktop-width) {
  .social-list-footer {
    margin-top: 0;
  }
}
