.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.social-list__item {
  width: 25px;
  margin-right: 20px;

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  display: block;
  width: 25px;
  height: 23px;

  font-size: 0;
  line-height: 0;

  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 0.3;

  &--fb {
    background-image: url("../img/facebook-mobile@1x.svg");
    background-size: 11px 21px;
  }

  &--vk {
    background-image: url("../img/vk-mobile@1x.svg");
    background-size: 23px 12px;
  }

  &--inst {
    background-image: url("../img/instagram-mobile@1x.svg");
    background-size: 18px 18px;
  }

  &:hover {
    outline: 1px solid #959bb2;
  }
}

@media (min-width: @tablet-width) {
  .social-list {
    justify-content: flex-start;
    margin-left: 39px;
  }

  .social-list__item {
    margin-right: 35px;
  }

  .social-list__link {
    display: block;
    width: 31px;
    height: 28px;

    font-size: 0;
    line-height: 0;

    &--fb {
      background-size: 14px 28px;
    }

    &--vk {
      background-size: 31px 16px;
    }

    &--inst {
      background-size: 24px 24px;
    }
  }
}
