.table-abc {
  width: 100%;
  margin-bottom: 50px;

  border-collapse: collapse;
}

.table-abc__letter {
  width: 39px;
  height: 38px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: @travelmate-page-blue;
  text-align: center;
  vertical-align: middle;

  border: 1px solid #cbced9;
  background-color: #ffffff;

  &--selected {
    color: #ffffff;

    background-color: @travelmate-page-blue;
  }
}
