.top-menu {
  min-height: 73px;
  padding-top: 25px;
}

.top-menu--scroll {
  background-color: #ffffff;

  & .top-menu__logo {
    margin-top: 8px;
  }
}

.top-menu__logo {
  order: -1;
}

.top-menu__logo-img {
  width: 100px;
  height: 19px;
}

.top-menu__home-link {
  display: none;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .top-menu {
    min-height: 90px;
    padding-top: 43px;
    padding-right: 40px;
    padding-left: 40px;
  }

  .top-menu--scroll {
    & .top-menu__logo {
      margin-top: 0;
    }
  }

  .top-menu__logo-img {
    width: 166px;
    height: 42px;
  }

  .top-menu__logo {
    margin-right: 450px;
  }

  .top-menu__home-link {
    position: relative;
    top: -10px;
    display: inline-block;
    margin-right: 95px;
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .top-menu {
    width: 200px;
    min-height: 50px;
    padding: 0;
    margin-right: 40px;
    margin-left: 60px;

    background-color: transparent;
  }

  .inner-page__top-menu {
    min-height: 290px;
  }

  .top-menu__logo-img {
    width: 200px;
    height: 52px;
  }

  .top-menu__home-link {
    position: absolute;
    top: auto;
    right: 89px;
    bottom: 82px;
  }
}
