.travelmates {
  color: #ffffff;

  background-color: @medium-blue;
  opacity: 0.99;
}

.travelmates__wrapper {
  position: relative;

  padding-top: 70px;

  background: url("../img/smolov-back-desktop@1x.png") 152px 40px no-repeat,
    url("../img/rogovaya-back-mobile@1x.png") -10px 310px no-repeat;

  &::before {
    .decorative-block;
    top: 40px;
  }
}

.travelmates__list {
  .list-clear;
  margin-top: 60px;
  margin-bottom: 20px;
}

.travelmates__item {
  position: relative;

  min-height: 430px;
  margin-bottom: 10px;

  background-color: #ffffff;
  border-radius: @border-radius-15;
}

.travelmates__foto {
  margin-bottom: 25px;

  border-top-left-radius: @border-radius-15;
  border-top-right-radius: @border-radius-15;
}

.travelmates__name {
  margin: 0;
  margin-bottom: 20px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #1d2e5b;
}

.travelmates__tags {
  padding-right: 20px;
  padding-left: 20px;

  line-height: 18px;
  text-align: center;
  color: @grey;
}

.travelmates__level {
  position: absolute;
  top: 15px;
  left: 15px;

  font-size: 14px;
  line-height: 14px;


  &--number {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }
}


.travelmates__transport {
  display: flex;
  justify-content: center;
}

@media (min-width: @tablet-width) {
  .travelmates__wrapper {
    min-height: 1250px;
    padding-top: 140px;
    padding-bottom: 85px;
  }

  .travelmates__list {
    display: flex;
  }

  .travelmates__item {
    width: 285px;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }

  .travelmates__foto {
    width: 285px;
    height: 285px;
  }
}

@media (min-width: @desktop-width) {
  .travelmates__wrapper {
    height: 490px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    min-height: 715px;
    padding-top: 130px;
    padding-bottom: 135px;
  }

  .travelmates__text {
    width: 435px;
  }

  .travelmates__list {
    order: 2;
    width: 630px;
    margin-top: 0;
  }

  .travelmates__item {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }

  .travelmates__foto {
    width: 285px;
    height: 285px;
  }

  .travelmates__button {
    margin-top: auto;
  }
}
