.travelmates {
  position: relative;
  z-index: 5;

  margin-top: -30px;
  color: #ffffff;

  background-color: @medium-blue;
  border-bottom-right-radius: @border-radius-30;
  border-bottom-left-radius: @border-radius-30;
  opacity: 0.99;
}

.travelmates__wrapper {
  position: relative;

  padding-top: 103px;
  padding-bottom: 30px;

  background: url("../img/smolov-back-desktop@1x.png") 152px 70px no-repeat,
    url("../img/rogovaya-back-mobile@1x.png") -10px 340px no-repeat;

  &::before {
    .decorative-block;
    top: 70px;
  }
}

.travelmates__list {
  .list-clear;
  margin-top: 59px;
  margin-bottom: 18px;
}

.travelmates__item {
  position: relative;

  min-height: 427px;
  margin-bottom: 10px;

  background-color: #ffffff;
  border-radius: @border-radius-10;

  &:nth-child(2) .travelmates__tags {
    padding-left: 45px;
  }
}

.travelmates__foto {
  margin-bottom: 20px;

  border-top-left-radius: @border-radius-10;
  border-top-right-radius: @border-radius-10;
}

.travelmates__name {
  margin: 0;
  margin-bottom: 12px;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #1d2e5b;
}

.travelmates__tags {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;

  line-height: 18px;
  text-align: center;
  color: @grey;
}

.travelmates__level {
  position: absolute;
  top: 13px;
  left: 18px;

  box-sizing: border-box;
  width: 60px;
  height: 60px;
  margin: 0;
  padding-top: 13px;
  padding-right: 15px;
  padding-left: 14px;
  background-color: #020c10;
  border: 3px solid #ff8d30;
  border-radius: 50%;

  font-size: 14px;
  line-height: 14px;


  & b {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
  }
}

@media (min-width: @tablet-width) {
  .travelmates {
    margin-top: -80px;

    border-radius: @border-radius-50;
  }

  .travelmates__wrapper {
    min-height: 1250px;
    padding-top: 220px;
    padding-bottom: 87px;

    background: url("../img/smolov-back-desktop@1x.png") 40px 505px no-repeat,
      url("../img/rogovaya-back-desktop@1x.png") right 75px top 160px no-repeat;

    &::before {
      .decorative-block;
      top: 160px;
      left: 40px;

      width: 213px;
      height: 213px;

      border-radius: @border-radius-17;
    }
  }

  .travelmates__heading {
    margin-bottom: 56px;
  }

  .travelmates__text {
    width: 430px;
    margin-bottom: 40px;

    &--bold {
      width: 260px;
    }
  }

  .travelmates__list {
    display: flex;
    margin-top: 58px;
  }

  .travelmates__item {
    width: 285px;
    margin-right: 48px;
    padding-bottom: 25px;

    border-radius: 20px;

    &:last-child {
      margin-right: 0;
    }

    &:nth-child(2) .travelmates__tags {
      padding-left: 30px;
    }
  }

  .travelmates__foto {
    width: 285px;
    height: 285px;
    margin-bottom: 25px;
  }

  .travelmates__name {
    margin-bottom: 20px;

    font-size: 24px;
    line-height: 24px;
  }

  .travelmates__tags {
    margin-bottom: 4px;

    font-size: 20px;
    line-height: 24px;
  }

  .travelmates__level {
    top: 20px;
    left: 21px;
  }

  .travelmates__button {
    margin-top: 70px;
  }
}

@media (min-width: @desktop-width) {
  .travelmates {
    z-index: -3;
    margin-top: -80px;
    padding-top: 80px;
  }

  .travelmates__wrapper {
    height: 750px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-between;
    min-height: 0;
    padding-top: 130px;
    padding-bottom: 125px;

    background-position: 546px 134px, 190px 384px;

    &::before {
      top: 70px;
      left: 60px;
    }
  }

  .travelmates__text {
    width: 435px;
  }

  .travelmates__list {
    order: 2;
    width: 630px;
    margin-top: 2px;
  }

  .travelmates__item {
    margin-right: 60px;

    &:last-child {
      margin-right: 0;
    }
  }

  .travelmates__foto {
    width: 285px;
    height: 285px;
    margin-bottom: 29px;

    border-top-left-radius: @border-radius-17;
    border-top-right-radius: @border-radius-17;
  }

  .travelmates__name {
    margin-bottom: 18px;
  }

  .travelmates__level {
    top: 23px;
    left: 23px;
  }

  .travelmates__button {
    width: 280px;
    margin-top: 42px;
  }
}
