.page-travelmates__list {
  .list-clear();
}

.travelmate-info {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.travelmate-info__link-name {
  .font(@fontRegular; 20px; bold);
  line-height: 20px;
  margin: 0;
  color: @travelmate-page-blue;
  text-decoration: none;
}

.travelmate-info__raiting {
  .font(@fontRegular; 14px; bold);
  line-height: 21px;
  color: @dark-blue;
}

.travelmate-info__tags {
  .font-regular();
  font-size: 15px;
  color: #444444;
  padding-left: 5px;
}

.travelmate-info__heading {
  .font-regular();
  font-size: 15px;
  color: #444444;
  padding-left: 5px;
}

.countries-wanted__list {
  .list-clear();
  margin-top: 15px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.countries-wanted__list__item {
  .font-medium();
  font-size: 15px;
  color: @travelmate-page-blue;
  margin-bottom: 10px;
}

.transport-list {
  .list-clear();
  padding-left: 5px;
}

.travelmate-info__level-heading {
  .font-regular();
  font-size: 15px;
  color: #444444;
}

.travelmate-info__level-value {
  .font(@fontRegular; 24px; bold);
  line-height: 18px;
  color: @travelmate-page-blue;
}

.travelmate-info__button {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: @dark-blue;
}
