.travelmates-pagination__list {
  display: none;
}

@media (min-width: @tablet-width) {
  .travelmates-pagination {
    margin-top: 50px;

    background-color: #ffffff;
  }

  .travelmates-pagination__list {
    .list-clear;
    display: flex;
    height: 100px;
  }
}
