.traveller-info {
  padding-top: 20px;
  padding-bottom: 15px;
}

.traveller-info__level {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 18px;
  color: @grey;

  b {
    font-size: 38px;
    line-height: 38px;
    font-weight: 700;
    color: @dark-blue;
  }
}

.traveller-info__heading {
  padding-right: 18px;
  padding-left: 18px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: @travelmate-page-blue;
  text-align: center;
  text-transform: uppercase;
}

.traveller-info__foto {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.traveller-info__group {
  margin-bottom: 20px;

  border: 1px solid #cbced9;
  border-radius: 10px;
}

.traveller-info__text {
  border: none;
  background-color: @light-blue;

  resize: none;
}
