.user-list {
  margin-bottom: 40px;
}

.user-list__login {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;

  text-decoration: none;
  text-transform: uppercase;
  color: @dark-blue;

  background-color: #ffd74b; //временно, для видимости текста
}

@media (min-width: @tablet-width) {
  .user-list {
    position: absolute;
    top: 40px;
    right: 40px;

    width: 330px;

    text-align: right;
  }

  .user-list__login {
    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    position: static;
    width: auto;
    order: 2;
    margin: 0;
  }

  .user-list__login {
    font-size: 20px;
  }
}
