.user-list {
  margin-bottom: 40px;
}

.user-list__login {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;

  text-decoration: none;
  text-transform: uppercase;
  color: @dark-blue;

  background-color: #ffd74b; //временно, для видимости текста
}
