@dark-blue: #161c35;
@medium-blue: #192144;
@light-blue: #edeff6;
@heading-orange: #ff8d30;
@yellow: #ffd74b;
@stroke-grey: #cbced9;
@grey: rgba(68, 68, 68, 1);
@light-grey: rgba(68, 68, 68, 0.3);
@button-text-color: rgba(29, 46, 91, 1);
@button-text-color-active: rgba(29, 46, 91, 0.3);
@travelmate-page-blue: @button-text-color;
@border-radius-10: 10px;
@border-radius-17: 17px;
@border-radius-20: 20px;
@border-radius-30: 30px;
@border-radius-50: 50px;
@border-radius-50: 60px;

@mobile-width: 320px;
@tablet-width: 768px;
@desktop-width: 1440px;
@retina-dppx: 1.5dppx;
